numpy
scipy
pandas
dask
imagecodecs
tifffile
bioio
bioio-ome-tiff
bioio-tifffile
lxml
matplotlib
scikit-image
scikit-learn
shapely
opencv-contrib-python-headless
pint
jsonschema
optuna
rasterio
zarr
numcodecs
geopandas
git+https://github.com/hubmapconsortium/ome-utils@v0.3.6
