numpy
scipy
pandas
dask
imagecodecs
tifffile
aicsimageio
lxml
matplotlib
scikit-image
scikit-learn
shapely
opencv-contrib-python-headless
pint
jsonschema
optuna
rasterio
zarr<3
numcodecs<0.16
geopandas
git+https://github.com/hubmapconsortium/ome-utils@v0.3.5
